<!DOCTYPE html>
<html>
    <head>
      <title>About</title>
        <link rel="stylesheet" href="./css/styles.css"> 
        <link rel="icon" href="/img/weather.png"
    </head>
    <body>
      <div class="main-content">
          {{>header}}
          <P>This site was created by Chiru.It uses data from mapbox.com and weatherstack.com</P>
        <img class="portrait" src="./img/profilepic.png" >
        </div>
          {{>footer}}
    </body>
</html>